.fmp-NavBar {
    color: #16AF78;
    padding: 10px;
    text-align: left;
    display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
    justify-content: space-between;
    border-bottom: #16AF78 1px solid;
}
 
.fmp-Nav-Menu {
    display: flex;
    list-style: none;
    margin: 0 0;
}

.fmp-title {
	padding-left: 32px;
    text-decoration: none;
}

.link-style {
    text-decoration: none;
    color: #16AF78;
}

.link-style:hover {
    color: #16AF78;
    font-weight: bold;
}

.button-ad .link-style {
    color: white;
}

.button-ad {
    background-color: #16AF78;
    border-radius: 5px;
	border: solid  #16AF78 1px;
    margin: 10px;
    padding: 5px;
}

.button-white {
    background-color: white;
    border-radius: 5px;
	border: solid  #16AF78 1px;
    margin: 10px;
    padding: 5px;
}

.button-logout {
    background-color: white;
    color: #16AF78;
    border-radius: 5px;
	border: solid  #16AF78 1px;
    margin: 10px;
    padding: 5px;
}

.button-logout:hover {
    font-weight: bold;
}

.mobile-menu-icon {
    border: none;
    background: none;
    font-size: 20px;
    display: none;
}

@media (max-width: 860px) {
    .fmp-Nav-Menu {
        display: none;
    }

    .nav-menu-mobile {
        position: absolute;
        display: block;
        list-style: none;
        padding: 0 0;
        left: 0;
        top: 8%;
        width: 100%;
        background-color: white;
        z-index: 1;
        border-bottom: #16AF78 solid 1px;
    }

    .mobile-menu-icon {
        position: absolute;
        display: block;
        right: 20px;

    }

    ul li {
        text-align: center;
    }

    .button-ad, .button-white, .button-logout {
        margin: 10px auto;
        width: 100%;
        border: none;
        background-color: white;
        font-size:x-large;
    }

    .button-ad .link-style {
        color: #16AF78;
    }
}