.pagination-btn {
    background-color: #16AF78;
    color: white;
    border-radius: 5px;
	border: solid  #16AF78 1px;
    margin: 0px 2px;
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.pagination-btn:disabled {
    background-color: #16af776e;
    color: white;
	border: solid  #16AF78 1px;
}