.fmp-plant-list {
	list-style-type: none;
	padding: 32px 0px;
	display: flex;
	flex-wrap: wrap;
	max-width: 960px;
	margin-left: auto;
    margin-right: auto;
	justify-content: center;
}

.fmp-plant-list a {
	text-decoration: none;
	color: black;
}

.fmp-plant-list a:hover {
	color: black;
}

.loading {
	color: #16AF78;
	text-align: center;
	font-weight: bold;
}